/* _colors.scss */
// Colors
$etdd-green:#76A487 !default;
$etdd-green-on-white-bg:#548064 !default;
$dark-etdd-green:#406c51 !default;
$etdd-accent-red:#e05a47 !default;
$etdd-dark-accent-red:#bd3929 !default;
$etdd-green-for-bg:#b5e5c6 !default;
$etdd-green-for-lighter-bg:#ceffdf !default;
$etdd-blue: #165570 !default;
$etdd-light-blue-accent:#3f7a97 !default;