
.v-center-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90%;
        }

@counter-style sparkles {
  system: cyclic;
  fallback: square;
  symbols: "\2728";
  suffix: " ";
  speak-as: bullets;
}

@counter-style silly {
  system: cyclic;
  fallback: square;
  symbols: "\1F58B";
  suffix: " ";
  speak-as: bullets;
}


@counter-style paper {
  system: cyclic;
  fallback: square;
  symbols: "\1F5CE";
  suffix: " ";
  speak-as: bullets;
}



.etddBulletPoint {
  
   li {
    list-style: url('../assets/ETDDLogo.svg') thumbs;
  } 
  
  li::marker{
   /* content: url('../../assets/ETDDLogo.svg') / "+";*/
    font-size: 1.8em;
    line-height: .5;
   
  }
}

.paperBulletPoint {
   li {
    list-style: paper;
  } 
  li::marker{
    font-size: 1.5em;
    line-height: .7;
  }
}
.sparklesBulletPoint {
   li {
    list-style: sparkles;
    filter: brightness(80%)
    sepia(100%) 
    hue-rotate(150deg)
    saturate(500%);
    
  } 
  li::marker{
   font-size: 0.8em;
    line-height: 0.1;
    
  }
} 
.sillyBulletPoint {
   li {
    list-style: silly;
  } 
  li::marker{
    font-size: 1.5em;
    line-height: .7;
  }
} 
/*
  li:before {
    content: url('../../assets/ETDD-New Logo-transparent.png');
  /*content: "+";
//  padding-right: 5px;
  }
  */
  
}

  /*background-image: url("../../assets/sqpurple.png");
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;*/
  /*list-style-image: url('../../assets/sqpurple.png');
  /list-style-position: inside;  
  //list-style-type: "!";
 
  ul {
    list-style: thumbs;
  //list-style-image: url('../../assets/sqpurple.png');
  //list-style-type: "&#x1F514";
  //list-style: square;
}

//li {
//  padding-left: 1em;
//  text-indent: -1em;
//}
*/
  

