/* _colors.scss */
// Colors
$etdd-green:#76A487;
$etdd-green-on-white-bg:#548064;
$dark-etdd-green:#406c51;
$etdd-accent-red:#e05a47;
$etdd-dark-accent-red:#bd3929;
$etdd-green-for-bg:#b5e5c6;
$etdd-green-for-lighter-bg:#ceffdf;
$etdd-blue: #165570;
$etdd-light-blue-accent:#3f7a97;